# Scratch Notebook

## Create pandas/spark dataframes for testing

In [1]:
import numpy as np
import pandas as pd

from pyspark.sql.functions import col, pandas_udf, spark_partition_id, struct
from pyspark.sql.types import *
from typing import Iterator, Union

In [2]:
data = np.arange(0, 1000, dtype=np.float64).reshape(-1, 4)
pdf = pd.DataFrame(data, columns=['a','b','c','d'])

In [3]:
pdf_scalar = pdf
df_scalar = spark.createDataFrame(pdf_scalar)

pdf_tensor = pd.DataFrame()
pdf_tensor['t1'] = pdf_scalar.values.tolist()
df_tensor1 = spark.createDataFrame(pdf_tensor)

pdf_tensor['t2'] = pdf_scalar.drop(columns='d').values.tolist()
df_tensor2 = spark.createDataFrame(pdf_tensor)

### pandas dataframes

In [4]:
pdf_scalar

         a      b      c      d
0      0.0    1.0    2.0    3.0
1      4.0    5.0    6.0    7.0
2      8.0    9.0   10.0   11.0
3     12.0   13.0   14.0   15.0
4     16.0   17.0   18.0   19.0
..     ...    ...    ...    ...
245  980.0  981.0  982.0  983.0
246  984.0  985.0  986.0  987.0
247  988.0  989.0  990.0  991.0
248  992.0  993.0  994.0  995.0
249  996.0  997.0  998.0  999.0

[250 rows x 4 columns]

In [5]:
pdf_tensor

                               t1                     t2
0            [0.0, 1.0, 2.0, 3.0]        [0.0, 1.0, 2.0]
1            [4.0, 5.0, 6.0, 7.0]        [4.0, 5.0, 6.0]
2          [8.0, 9.0, 10.0, 11.0]       [8.0, 9.0, 10.0]
3        [12.0, 13.0, 14.0, 15.0]     [12.0, 13.0, 14.0]
4        [16.0, 17.0, 18.0, 19.0]     [16.0, 17.0, 18.0]
..                            ...                    ...
245  [980.0, 981.0, 982.0, 983.0]  [980.0, 981.0, 982.0]
246  [984.0, 985.0, 986.0, 987.0]  [984.0, 985.0, 986.0]
247  [988.0, 989.0, 990.0, 991.0]  [988.0, 989.0, 990.0]
248  [992.0, 993.0, 994.0, 995.0]  [992.0, 993.0, 994.0]
249  [996.0, 997.0, 998.0, 999.0]  [996.0, 997.0, 998.0]

[250 rows x 2 columns]

In [6]:
foo = pdf_scalar['a']

In [7]:
type(foo)

pandas.core.series.Series

In [9]:
bar = pdf_scalar['b']

In [10]:
type(bar)

pandas.core.series.Series

In [15]:
def batch(n=1):
    for i in range(0, len(foo), n):
        yield foo.iloc[i:i+n], bar.iloc[i:i+n]

In [17]:
for x in batch(2):
    print(x)

(0    0.0
1    4.0
Name: a, dtype: float64, 0    1.0
1    5.0
Name: b, dtype: float64)
(2     8.0
3    12.0
Name: a, dtype: float64, 2     9.0
3    13.0
Name: b, dtype: float64)
(4    16.0
5    20.0
Name: a, dtype: float64, 4    17.0
5    21.0
Name: b, dtype: float64)
(6    24.0
7    28.0
Name: a, dtype: float64, 6    25.0
7    29.0
Name: b, dtype: float64)
(8    32.0
9    36.0
Name: a, dtype: float64, 8    33.0
9    37.0
Name: b, dtype: float64)
(10    40.0
11    44.0
Name: a, dtype: float64, 10    41.0
11    45.0
Name: b, dtype: float64)
(12    48.0
13    52.0
Name: a, dtype: float64, 12    49.0
13    53.0
Name: b, dtype: float64)
(14    56.0
15    60.0
Name: a, dtype: float64, 14    57.0
15    61.0
Name: b, dtype: float64)
(16    64.0
17    68.0
Name: a, dtype: float64, 16    65.0
17    69.0
Name: b, dtype: float64)
(18    72.0
19    76.0
Name: a, dtype: float64, 18    73.0
19    77.0
Name: b, dtype: float64)
(20    80.0
21    84.0
Name: a, dtype: float64, 20    81.0
21    85.0
Name: b, dtype: float64)
(22    88.0
23    92.0
Name: a, dtype: float64, 22    89.0
23    93.0
Name: b, dtype: float64)
(24     96.0
25    100.0
Name: a, dtype: float64, 24     97.0
25    101.0
Name: b, dtype: float64)
(26    104.0
27    108.0
Name: a, dtype: float64, 26    105.0
27    109.0
Name: b, dtype: float64)
(28    112.0
29    116.0
Name: a, dtype: float64, 28    113.0
29    117.0
Name: b, dtype: float64)
(30    120.0
31    124.0
Name: a, dtype: float64, 30    121.0
31    125.0
Name: b, dtype: float64)
(32    128.0
33    132.0
Name: a, dtype: float64, 32    129.0
33    133.0
Name: b, dtype: float64)
(34    136.0
35    140.0
Name: a, dtype: float64, 34    137.0
35    141.0
Name: b, dtype: float64)
(36    144.0
37    148.0
Name: a, dtype: float64, 36    145.0
37    149.0
Name: b, dtype: float64)
(38    152.0
39    156.0
Name: a, dtype: float64, 38    153.0
39    157.0
Name: b, dtype: float64)
(40    160.0
41    164.0
Name: a, dtype: float64, 40    161.0
41    165.0
Name: b, dtype: float64)
(42    168.0
43    172.0
Name: a, dtype: float64, 42    169.0
43    173.0
Name: b, dtype: float64)
(44    176.0
45    180.0
Name: a, dtype: float64, 44    177.0
45    181.0
Name: b, dtype: float64)
(46    184.0
47    188.0
Name: a, dtype: float64, 46    185.0
47    189.0
Name: b, dtype: float64)
(48    192.0
49    196.0
Name: a, dtype: float64, 48    193.0
49    197.0
Name: b, dtype: float64)
(50    200.0
51    204.0
Name: a, dtype: float64, 50    201.0
51    205.0
Name: b, dtype: float64)
(52    208.0
53    212.0
Name: a, dtype: float64, 52    209.0
53    213.0
Name: b, dtype: float64)
(54    216.0
55    220.0
Name: a, dtype: float64, 54    217.0
55    221.0
Name: b, dtype: float64)
(56    224.0
57    228.0
Name: a, dtype: float64, 56    225.0
57    229.0
Name: b, dtype: float64)
(58    232.0
59    236.0
Name: a, dtype: float64, 58    233.0
59    237.0
Name: b, dtype: float64)
(60    240.0
61    244.0
Name: a, dtype: float64, 60    241.0
61    245.0
Name: b, dtype: float64)
(62    248.0
63    252.0
Name: a, dtype: float64, 62    249.0
63    253.0
Name: b, dtype: float64)
(64    256.0
65    260.0
Name: a, dtype: float64, 64    257.0
65    261.0
Name: b, dtype: float64)
(66    264.0
67    268.0
Name: a, dtype: float64, 66    265.0
67    269.0
Name: b, dtype: float64)
(68    272.0
69    276.0
Name: a, dtype: float64, 68    273.0
69    277.0
Name: b, dtype: float64)
(70    280.0
71    284.0
Name: a, dtype: float64, 70    281.0
71    285.0
Name: b, dtype: float64)
(72    288.0
73    292.0
Name: a, dtype: float64, 72    289.0
73    293.0
Name: b, dtype: float64)
(74    296.0
75    300.0
Name: a, dtype: float64, 74    297.0
75    301.0
Name: b, dtype: float64)
(76    304.0
77    308.0
Name: a, dtype: float64, 76    305.0
77    309.0
Name: b, dtype: float64)
(78    312.0
79    316.0
Name: a, dtype: float64, 78    313.0
79    317.0
Name: b, dtype: float64)
(80    320.0
81    324.0
Name: a, dtype: float64, 80    321.0
81    325.0
Name: b, dtype: float64)
(82    328.0
83    332.0
Name: a, dtype: float64, 82    329.0
83    333.0
Name: b, dtype: float64)
(84    336.0
85    340.0
Name: a, dtype: float64, 84    337.0
85    341.0
Name: b, dtype: float64)
(86    344.0
87    348.0
Name: a, dtype: float64, 86    345.0
87    349.0
Name: b, dtype: float64)
(88    352.0
89    356.0
Name: a, dtype: float64, 88    353.0
89    357.0
Name: b, dtype: float64)
(90    360.0
91    364.0
Name: a, dtype: float64, 90    361.0
91    365.0
Name: b, dtype: float64)
(92    368.0
93    372.0
Name: a, dtype: float64, 92    369.0
93    373.0
Name: b, dtype: float64)
(94    376.0
95    380.0
Name: a, dtype: float64, 94    377.0
95    381.0
Name: b, dtype: float64)
(96    384.0
97    388.0
Name: a, dtype: float64, 96    385.0
97    389.0
Name: b, dtype: float64)
(98    392.0
99    396.0
Name: a, dtype: float64, 98    393.0
99    397.0
Name: b, dtype: float64)
(100    400.0
101    404.0
Name: a, dtype: float64, 100    401.0
101    405.0
Name: b, dtype: float64)
(102    408.0
103    412.0
Name: a, dtype: float64, 102    409.0
103    413.0
Name: b, dtype: float64)
(104    416.0
105    420.0
Name: a, dtype: float64, 104    417.0
105    421.0
Name: b, dtype: float64)
(106    424.0
107    428.0
Name: a, dtype: float64, 106    425.0
107    429.0
Name: b, dtype: float64)
(108    432.0
109    436.0
Name: a, dtype: float64, 108    433.0
109    437.0
Name: b, dtype: float64)
(110    440.0
111    444.0
Name: a, dtype: float64, 110    441.0
111    445.0
Name: b, dtype: float64)
(112    448.0
113    452.0
Name: a, dtype: float64, 112    449.0
113    453.0
Name: b, dtype: float64)
(114    456.0
115    460.0
Name: a, dtype: float64, 114    457.0
115    461.0
Name: b, dtype: float64)
(116    464.0
117    468.0
Name: a, dtype: float64, 116    465.0
117    469.0
Name: b, dtype: float64)
(118    472.0
119    476.0
Name: a, dtype: float64, 118    473.0
119    477.0
Name: b, dtype: float64)
(120    480.0
121    484.0
Name: a, dtype: float64, 120    481.0
121    485.0
Name: b, dtype: float64)
(122    488.0
123    492.0
Name: a, dtype: float64, 122    489.0
123    493.0
Name: b, dtype: float64)
(124    496.0
125    500.0
Name: a, dtype: float64, 124    497.0
125    501.0
Name: b, dtype: float64)
(126    504.0
127    508.0
Name: a, dtype: float64, 126    505.0
127    509.0
Name: b, dtype: float64)
(128    512.0
129    516.0
Name: a, dtype: float64, 128    513.0
129    517.0
Name: b, dtype: float64)
(130    520.0
131    524.0
Name: a, dtype: float64, 130    521.0
131    525.0
Name: b, dtype: float64)
(132    528.0
133    532.0
Name: a, dtype: float64, 132    529.0
133    533.0
Name: b, dtype: float64)
(134    536.0
135    540.0
Name: a, dtype: float64, 134    537.0
135    541.0
Name: b, dtype: float64)
(136    544.0
137    548.0
Name: a, dtype: float64, 136    545.0
137    549.0
Name: b, dtype: float64)
(138    552.0
139    556.0
Name: a, dtype: float64, 138    553.0
139    557.0
Name: b, dtype: float64)
(140    560.0
141    564.0
Name: a, dtype: float64, 140    561.0
141    565.0
Name: b, dtype: float64)
(142    568.0
143    572.0
Name: a, dtype: float64, 142    569.0
143    573.0
Name: b, dtype: float64)
(144    576.0
145    580.0
Name: a, dtype: float64, 144    577.0
145    581.0
Name: b, dtype: float64)
(146    584.0
147    588.0
Name: a, dtype: float64, 146    585.0
147    589.0
Name: b, dtype: float64)
(148    592.0
149    596.0
Name: a, dtype: float64, 148    593.0
149    597.0
Name: b, dtype: float64)
(150    600.0
151    604.0
Name: a, dtype: float64, 150    601.0
151    605.0
Name: b, dtype: float64)
(152    608.0
153    612.0
Name: a, dtype: float64, 152    609.0
153    613.0
Name: b, dtype: float64)
(154    616.0
155    620.0
Name: a, dtype: float64, 154    617.0
155    621.0
Name: b, dtype: float64)
(156    624.0
157    628.0
Name: a, dtype: float64, 156    625.0
157    629.0
Name: b, dtype: float64)
(158    632.0
159    636.0
Name: a, dtype: float64, 158    633.0
159    637.0
Name: b, dtype: float64)
(160    640.0
161    644.0
Name: a, dtype: float64, 160    641.0
161    645.0
Name: b, dtype: float64)
(162    648.0
163    652.0
Name: a, dtype: float64, 162    649.0
163    653.0
Name: b, dtype: float64)
(164    656.0
165    660.0
Name: a, dtype: float64, 164    657.0
165    661.0
Name: b, dtype: float64)
(166    664.0
167    668.0
Name: a, dtype: float64, 166    665.0
167    669.0
Name: b, dtype: float64)
(168    672.0
169    676.0
Name: a, dtype: float64, 168    673.0
169    677.0
Name: b, dtype: float64)
(170    680.0
171    684.0
Name: a, dtype: float64, 170    681.0
171    685.0
Name: b, dtype: float64)
(172    688.0
173    692.0
Name: a, dtype: float64, 172    689.0
173    693.0
Name: b, dtype: float64)
(174    696.0
175    700.0
Name: a, dtype: float64, 174    697.0
175    701.0
Name: b, dtype: float64)
(176    704.0
177    708.0
Name: a, dtype: float64, 176    705.0
177    709.0
Name: b, dtype: float64)
(178    712.0
179    716.0
Name: a, dtype: float64, 178    713.0
179    717.0
Name: b, dtype: float64)
(180    720.0
181    724.0
Name: a, dtype: float64, 180    721.0
181    725.0
Name: b, dtype: float64)
(182    728.0
183    732.0
Name: a, dtype: float64, 182    729.0
183    733.0
Name: b, dtype: float64)
(184    736.0
185    740.0
Name: a, dtype: float64, 184    737.0
185    741.0
Name: b, dtype: float64)
(186    744.0
187    748.0
Name: a, dtype: float64, 186    745.0
187    749.0
Name: b, dtype: float64)
(188    752.0
189    756.0
Name: a, dtype: float64, 188    753.0
189    757.0
Name: b, dtype: float64)
(190    760.0
191    764.0
Name: a, dtype: float64, 190    761.0
191    765.0
Name: b, dtype: float64)
(192    768.0
193    772.0
Name: a, dtype: float64, 192    769.0
193    773.0
Name: b, dtype: float64)
(194    776.0
195    780.0
Name: a, dtype: float64, 194    777.0
195    781.0
Name: b, dtype: float64)
(196    784.0
197    788.0
Name: a, dtype: float64, 196    785.0
197    789.0
Name: b, dtype: float64)
(198    792.0
199    796.0
Name: a, dtype: float64, 198    793.0
199    797.0
Name: b, dtype: float64)
(200    800.0
201    804.0
Name: a, dtype: float64, 200    801.0
201    805.0
Name: b, dtype: float64)
(202    808.0
203    812.0
Name: a, dtype: float64, 202    809.0
203    813.0
Name: b, dtype: float64)
(204    816.0
205    820.0
Name: a, dtype: float64, 204    817.0
205    821.0
Name: b, dtype: float64)
(206    824.0
207    828.0
Name: a, dtype: float64, 206    825.0
207    829.0
Name: b, dtype: float64)
(208    832.0
209    836.0
Name: a, dtype: float64, 208    833.0
209    837.0
Name: b, dtype: float64)
(210    840.0
211    844.0
Name: a, dtype: float64, 210    841.0
211    845.0
Name: b, dtype: float64)
(212    848.0
213    852.0
Name: a, dtype: float64, 212    849.0
213    853.0
Name: b, dtype: float64)
(214    856.0
215    860.0
Name: a, dtype: float64, 214    857.0
215    861.0
Name: b, dtype: float64)
(216    864.0
217    868.0
Name: a, dtype: float64, 216    865.0
217    869.0
Name: b, dtype: float64)
(218    872.0
219    876.0
Name: a, dtype: float64, 218    873.0
219    877.0
Name: b, dtype: float64)
(220    880.0
221    884.0
Name: a, dtype: float64, 220    881.0
221    885.0
Name: b, dtype: float64)
(222    888.0
223    892.0
Name: a, dtype: float64, 222    889.0
223    893.0
Name: b, dtype: float64)
(224    896.0
225    900.0
Name: a, dtype: float64, 224    897.0
225    901.0
Name: b, dtype: float64)
(226    904.0
227    908.0
Name: a, dtype: float64, 226    905.0
227    909.0
Name: b, dtype: float64)
(228    912.0
229    916.0
Name: a, dtype: float64, 228    913.0
229    917.0
Name: b, dtype: float64)
(230    920.0
231    924.0
Name: a, dtype: float64, 230    921.0
231    925.0
Name: b, dtype: float64)
(232    928.0
233    932.0
Name: a, dtype: float64, 232    929.0
233    933.0
Name: b, dtype: float64)
(234    936.0
235    940.0
Name: a, dtype: float64, 234    937.0
235    941.0
Name: b, dtype: float64)
(236    944.0
237    948.0
Name: a, dtype: float64, 236    945.0
237    949.0
Name: b, dtype: float64)
(238    952.0
239    956.0
Name: a, dtype: float64, 238    953.0
239    957.0
Name: b, dtype: float64)
(240    960.0
241    964.0
Name: a, dtype: float64, 240    961.0
241    965.0
Name: b, dtype: float64)
(242    968.0
243    972.0
Name: a, dtype: float64, 242    969.0
243    973.0
Name: b, dtype: float64)
(244    976.0
245    980.0
Name: a, dtype: float64, 244    977.0
245    981.0
Name: b, dtype: float64)
(246    984.0
247    988.0
Name: a, dtype: float64, 246    985.0
247    989.0
Name: b, dtype: float64)
(248    992.0
249    996.0
Name: a, dtype: float64, 248    993.0
249    997.0
Name: b, dtype: float64)

ERROR:root:Exception while sending command.
Traceback (most recent call last):
  File "/home/leey/devpub/leewyang/spark/python/lib/py4j-0.10.9.7-src.zip/py4j/clientserver.py", line 516, in send_command
    raise Py4JNetworkError("Answer from Java side is empty")
py4j.protocol.Py4JNetworkError: Answer from Java side is empty

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/leey/devpub/leewyang/spark/python/lib/py4j-0.10.9.7-src.zip/py4j/java_gateway.py", line 1038, in send_command
    response = connection.send_command(command)
  File "/home/leey/devpub/leewyang/spark/python/lib/py4j-0.10.9.7-src.zip/py4j/clientserver.py", line 539, in send_command
    raise Py4JNetworkError(
py4j.protocol.Py4JNetworkError: Error while sending or receiving

In [9]:
baz = pd.concat((foo,), axis=1)

In [20]:
baz.iloc[:,0]

0        0.0
1        4.0
2        8.0
3       12.0
4       16.0
       ...
245    980.0
246    984.0
247    988.0
248    992.0
249    996.0
Name: a, Length: 250, dtype: float64

In [21]:
baz.to_numpy()

array([[  0.],
       [  4.],
       [  8.],
       [ 12.],
       [ 16.],
       [ 20.],
       [ 24.],
       [ 28.],
       [ 32.],
       [ 36.],
       [ 40.],
       [ 44.],
       [ 48.],
       [ 52.],
       [ 56.],
       [ 60.],
       [ 64.],
       [ 68.],
       [ 72.],
       [ 76.],
       [ 80.],
       [ 84.],
       [ 88.],
       [ 92.],
       [ 96.],
       [100.],
       [104.],
       [108.],
       [112.],
       [116.],
       [120.],
       [124.],
       [128.],
       [132.],
       [136.],
       [140.],
       [144.],
       [148.],
       [152.],
       [156.],
       [160.],
       [164.],
       [168.],
       [172.],
       [176.],
       [180.],
       [184.],
       [188.],
       [192.],
       [196.],
       [200.],
       [204.],
       [208.],
       [212.],
       [216.],
       [220.],
       [224.],
       [228.],
       [232.],
       [236.],
       [240.],
       [244.],
       [248.],
       [252.],
       [256.],
       [260.],
       [264.],
       [268.],
       [272.],
       [276.],
       [280.],
       [284.],
       [288.],
       [292.],
       [296.],
       [300.],
       [304.],
       [308.],
       [312.],
       [316.],
       [320.],
       [324.],
       [328.],
       [332.],
       [336.],
       [340.],
       [344.],
       [348.],
       [352.],
       [356.],
       [360.],
       [364.],
       [368.],
       [372.],
       [376.],
       [380.],
       [384.],
       [388.],
       [392.],
       [396.],
       [400.],
       [404.],
       [408.],
       [412.],
       [416.],
       [420.],
       [424.],
       [428.],
       [432.],
       [436.],
       [440.],
       [444.],
       [448.],
       [452.],
       [456.],
       [460.],
       [464.],
       [468.],
       [472.],
       [476.],
       [480.],
       [484.],
       [488.],
       [492.],
       [496.],
       [500.],
       [504.],
       [508.],
       [512.],
       [516.],
       [520.],
       [524.],
       [528.],
       [532.],
       [536.],
       [540.],
       [544.],
       [548.],
       [552.],
       [556.],
       [560.],
       [564.],
       [568.],
       [572.],
       [576.],
       [580.],
       [584.],
       [588.],
       [592.],
       [596.],
       [600.],
       [604.],
       [608.],
       [612.],
       [616.],
       [620.],
       [624.],
       [628.],
       [632.],
       [636.],
       [640.],
       [644.],
       [648.],
       [652.],
       [656.],
       [660.],
       [664.],
       [668.],
       [672.],
       [676.],
       [680.],
       [684.],
       [688.],
       [692.],
       [696.],
       [700.],
       [704.],
       [708.],
       [712.],
       [716.],
       [720.],
       [724.],
       [728.],
       [732.],
       [736.],
       [740.],
       [744.],
       [748.],
       [752.],
       [756.],
       [760.],
       [764.],
       [768.],
       [772.],
       [776.],
       [780.],
       [784.],
       [788.],
       [792.],
       [796.],
       [800.],
       [804.],
       [808.],
       [812.],
       [816.],
       [820.],
       [824.],
       [828.],
       [832.],
       [836.],
       [840.],
       [844.],
       [848.],
       [852.],
       [856.],
       [860.],
       [864.],
       [868.],
       [872.],
       [876.],
       [880.],
       [884.],
       [888.],
       [892.],
       [896.],
       [900.],
       [904.],
       [908.],
       [912.],
       [916.],
       [920.],
       [924.],
       [928.],
       [932.],
       [936.],
       [940.],
       [944.],
       [948.],
       [952.],
       [956.],
       [960.],
       [964.],
       [968.],
       [972.],
       [976.],
       [980.],
       [984.],
       [988.],
       [992.],
       [996.]])

### spark dataframes

In [ ]:
df_scalar.show()

In [ ]:
df_tensor1.show()

In [ ]:
df_tensor2.show()

### spark partitions

In [ ]:
from pyspark.sql.functions import spark_partition_id
df.withColumn("partition_id", spark_partition_id()).groupBy("partition_id").count().show()

## Test tensor columns

### pDF -> pDF | returnType=StructType | return pDF => OK

In [ ]:
df_tensor2.schema

In [ ]:
@pandas_udf(returnType=df_tensor2.schema)
def predict(inputs: Iterator[pd.DataFrame]) -> Iterator[pd.DataFrame]:
    for batch in inputs:
        print("===== batch: {}".format(type(batch)))
        print("===== len(batch: {}".format(len(batch)))
        print("===== batch.columns: {}".format(batch.columns))
        print("===== batch.dtypes:\n{}".format(batch.dtypes))
        yield batch

In [ ]:
columns = df_tensor2.columns
preds = df_tensor2.withColumn("preds", predict(struct(*columns))).toPandas()
preds

### pDF -> pDF | returnType=ArrayType(DoubleType()) | return pS => OK

In [ ]:
df_tensor2.schema

In [ ]:
@pandas_udf(returnType=ArrayType(DoubleType()))
def predict(inputs: Iterator[pd.DataFrame]) -> Iterator[pd.DataFrame]:
    for batch in inputs:
        print("===== batch: {}".format(type(batch)))
        print("===== len(batch: {}".format(len(batch)))
        print("===== batch.columns: {}".format(batch.columns))
        print("===== batch.dtypes:\n{}".format(batch.dtypes))
        yield batch['t1']

In [ ]:
columns = df_tensor2.columns
preds = df_tensor2.withColumn("preds", predict(struct(*columns))).toPandas()
preds

### pDF -> pS | returnType=StructType | return pDF => OK

In [ ]:
df_tensor2.schema

In [ ]:
@pandas_udf(returnType=df_tensor2.schema)
def predict(inputs: Iterator[pd.DataFrame]) -> Iterator[pd.Series]:
    for batch in inputs:
        print("===== batch: {}".format(type(batch)))
        print("===== len(batch: {}".format(len(batch)))
        print("===== batch.columns: {}".format(batch.columns))
        print("===== batch.dtypes:\n{}".format(batch.dtypes))
        yield batch

In [ ]:
columns = df_tensor2.columns
preds = df_tensor2.withColumn("preds", predict(struct(*columns))).toPandas()
preds

### pDF -> pS | returnType=ArrayType(DoubleType()) | return pS => OK

In [ ]:
df_tensor2.schema

In [ ]:
@pandas_udf(returnType=ArrayType(DoubleType()))
def predict(inputs: Iterator[pd.DataFrame]) -> Iterator[pd.DataFrame]:
    for batch in inputs:
        print("===== batch: {}".format(type(batch)))
        print("===== len(batch: {}".format(len(batch)))
        print("===== batch.columns: {}".format(batch.columns))
        print("===== batch.dtypes:\n{}".format(batch.dtypes))
        yield batch['t1']

In [ ]:
columns = df_tensor2.columns
preds = df_tensor2.withColumn("preds", predict(struct(*columns))).toPandas()
preds

### Union[pDF, pS] -> Union[pDF, pS] | returnType=StructType() | return pS => FAIL

In [ ]:
df_tensor2.schema

In [ ]:
@pandas_udf(returnType=df_tensor2.schema)
# def predict(inputs: Iterator[Union[pd.DataFrame, pd.Series]]) -> Iterator[Union[pd.DataFrame, pd.Series]]:
# def predict(inputs: Iterator[pd.DataFrame]) -> Iterator[Union[pd.DataFrame, pd.Series]]:
# def predict(inputs: Iterator[pd.Series]) -> Iterator[Union[pd.DataFrame, pd.Series]]:
    for batch in inputs:
        print("===== batch: {}".format(type(batch)))
        print("===== len(batch: {}".format(len(batch)))
        print("===== batch.columns: {}".format(batch.columns))
        print("===== batch.dtypes:\n{}".format(batch.dtypes))
        yield batch

## Test scalar columns

### pDF -> pDF | returnType=StructType | return pDF => OK

In [ ]:
df_scalar.schema

In [ ]:
@pandas_udf(returnType=df_scalar.schema)
def predict(inputs: Iterator[pd.DataFrame]) -> Iterator[pd.DataFrame]:
    for batch in inputs:
        print("===== batch: {}".format(type(batch)))
        print("===== len(batch: {}".format(len(batch)))
        print("===== batch.columns: {}".format(batch.columns))
        print("===== batch.dtypes:\n{}".format(batch.dtypes))
        yield batch

In [ ]:
columns = df_scalar.columns
preds = df_scalar.withColumn("preds", predict(struct(*columns))).toPandas()
preds

### pDF -> pDF | returnType=DoubleType() | return pS => OK

In [ ]:
df_scalar.schema

In [ ]:
@pandas_udf(returnType=DoubleType())
def predict(inputs: Iterator[pd.DataFrame]) -> Iterator[pd.DataFrame]:
    for batch in inputs:
        print("===== batch: {}".format(type(batch)))
        print("===== len(batch: {}".format(len(batch)))
        print("===== batch.columns: {}".format(batch.columns))
        print("===== batch.dtypes:\n{}".format(batch.dtypes))
        yield batch['a']

In [ ]:
columns = df_scalar.columns
preds = df_scalar.withColumn("preds", predict(struct(*columns))).toPandas()
preds

### pDF -> pS | returnType=StructType | return pDF => OK

In [ ]:
df_scalar.schema

In [ ]:
@pandas_udf(returnType=df_scalar.schema)
def predict(inputs: Iterator[pd.DataFrame]) -> Iterator[pd.Series]:
    for batch in inputs:
        print("===== batch: {}".format(type(batch)))
        print("===== len(batch: {}".format(len(batch)))
        print("===== batch.columns: {}".format(batch.columns))
        print("===== batch.dtypes:\n{}".format(batch.dtypes))
        yield batch

In [ ]:
columns = df_scalar.columns
preds = df_scalar.withColumn("preds", predict(struct(*columns))).toPandas()
preds

### pDF -> pS | returnType=DoubleType() | return pS => OK

In [ ]:
df_scalar.schema

In [ ]:
@pandas_udf(returnType=DoubleType())
def predict(inputs: Iterator[pd.DataFrame]) -> Iterator[pd.Series]:
    for batch in inputs:
        print("===== batch: {}".format(type(batch)))
        print("===== len(batch: {}".format(len(batch)))
        print("===== batch.columns: {}".format(batch.columns))
        print("===== batch.dtypes:\n{}".format(batch.dtypes))
        yield batch['a']

In [ ]:
columns = df_scalar.columns
preds = df_scalar.withColumn("preds", predict(struct(*columns))).toPandas()
preds

### Union[pDF, pS] -> Union[pDF, pS] | returnType=StructType) | return pS => FAIL

In [ ]:
@pandas_udf(returnType=df_scalar.schema)
def predict(inputs: Iterator[Union[pd.DataFrame, pd.Series]]) -> Iterator[Union[pd.DataFrame, pd.Series]]:
    for batch in inputs:
        print("===== batch: {}".format(type(batch)))
        print("===== len(batch: {}".format(len(batch)))
        print("===== batch.columns: {}".format(batch.columns))
        print("===== batch.dtypes:\n{}".format(batch.dtypes))
        yield batch

In [ ]:
from inspect import signature
from pyspark.sql.pandas.typehints import infer_eval_type
from typing import get_type_hints, Any, Callable, Optional, Tuple

In [ ]:
def check_iterator_annotation(
    annotation: Any, parameter_check_func: Optional[Callable[[Any], bool]] = None
) -> bool:
    name = getattr(annotation, "_name", getattr(annotation, "__name__", None))
    return name == "Iterator" and (
        parameter_check_func is None or all(map(parameter_check_func, annotation.__args__))
    )

In [ ]:
def check_union_annotation(
    annotation: Any, parameter_check_func: Optional[Callable[[Any], bool]] = None
) -> bool:
    import typing

    # Note that we cannot rely on '__origin__' in other type hints as it has changed from version
    # to version. For example, it's abc.Iterator in Python 3.7 but typing.Iterator in Python 3.6.
    origin = getattr(annotation, "__origin__", None)
    return origin == typing.Union and (
        parameter_check_func is None or all(map(parameter_check_func, annotation.__args__))
    )

In [ ]:
def check_tuple_annotation(
    annotation: Any, parameter_check_func: Optional[Callable[[Any], bool]] = None
) -> bool:
    # Tuple has _name but other types have __name__
    # Check if the name is Tuple first. After that, check the generic types.
    name = getattr(annotation, "_name", getattr(annotation, "__name__", None))
    return name == "Tuple" and (
        parameter_check_func is None or all(map(parameter_check_func, annotation.__args__))
    )

In [ ]:
def predict(inputs: Iterator[Union[pd.Series, pd.DataFrame]]) -> Iterator[pd.DataFrame]:
    for batch in inputs:
        print("===== batch: {}".format(type(batch)))
        print("===== len(batch: {}".format(len(batch)))
        print("===== batch.columns: {}".format(batch.columns))
        print("===== batch.dtypes:\n{}".format(batch.dtypes))
        yield batch

In [ ]:
sig = signature(predict)
sig

In [ ]:
type_hints = get_type_hints(predict)
type_hints

In [ ]:
annotations = {}
for param in sig.parameters.values():
    if param.annotation is not param.empty:
        annotations[param.name] = type_hints.get(param.name, param.annotation)
annotations

In [ ]:
parameters_sig = [
    annotations[parameter] for parameter in sig.parameters if parameter in annotations]
parameters_sig

In [ ]:
return_annotation = type_hints.get("return", sig.return_annotation)
return_annotation

In [ ]:
is_series_or_frame = all(
    a == pd.Series
    or a == pd.DataFrame  # Series
    or check_union_annotation(  # DataFrame  # Union[DataFrame, Series]
        a, parameter_check_func=lambda na: na == pd.Series or na == pd.DataFrame
    )
    for a in parameters_sig
) and (return_annotation == pd.Series or return_annotation == pd.DataFrame)
is_series_or_frame

In [ ]:
is_iterator_tuple_series_or_frame = (
    len(parameters_sig) == 1
    and check_iterator_annotation(  # Iterator
        parameters_sig[0],
        parameter_check_func=lambda a: check_tuple_annotation(  # Tuple
            a,
            parameter_check_func=lambda ta: (
                ta == Ellipsis
                or ta == pd.Series  # ...
                or ta == pd.DataFrame  # Series
                or check_union_annotation(  # DataFrame  # Union[DataFrame, Series]
                    ta, parameter_check_func=lambda na: (na == pd.Series or na == pd.DataFrame)
                )
            ),
        ),
    )
    and check_iterator_annotation(
        return_annotation, parameter_check_func=lambda a: a == pd.DataFrame or a == pd.Series
    )
)
is_iterator_tuple_series_or_frame

In [ ]:
is_iterator_series_or_frame = (
    len(parameters_sig) == 1
    and check_iterator_annotation(
        parameters_sig[0],
        parameter_check_func=lambda a: (
            a == pd.Series
            or a == pd.DataFrame  # Series
            or check_union_annotation(  # DataFrame  # Union[DataFrame, Series]
                a, parameter_check_func=lambda ua: ua == pd.Series or ua == pd.DataFrame
            )
        ),
    )
    and check_iterator_annotation(
        return_annotation, parameter_check_func=lambda a: a == pd.DataFrame or a == pd.Series
    )
)
is_iterator_series_or_frame

### pS -> pS | returnType=ArrayType(DoubleType()) | return pS => OK

In [ ]:
from pyspark.sql.functions import array

In [ ]:
df_scalar.schema

In [ ]:
@pandas_udf(returnType=ArrayType(DoubleType()))
def predict(inputs: Iterator[pd.Series]) -> Iterator[pd.Series]:
    for batch in inputs:
        print("===== batch: {}".format(type(batch)))
        print("===== len(batch: {}".format(len(batch)))
        # print("===== batch.columns: {}".format(batch.columns))
        # print("===== batch.dtypes:\n{}".format(batch.dtypes))
        print("===== batch[0]:\n{}".format(batch[0]))
        yield batch

In [ ]:
columns = df_scalar.columns
preds = df_scalar.withColumn("preds", predict(array(columns))).toPandas()
preds

## Test caching

In [ ]:
import numpy as np
import pandas as pd
import threading
import time

from pyspark.ml.functions import batch_infer_udf
from pyspark.sql.functions import struct, pandas_udf
from pyspark.sql.types import *
from typing import Iterator

In [ ]:
data = np.arange(0, 1000, dtype=np.float64).reshape(-1, 4)

# 4 scalar columns
pdf = pd.DataFrame(data, columns=["a", "b", "c", "d"])
df = spark.createDataFrame(pdf)

In [ ]:
def predict_batch_fn():
    # emulate loading a model, this should only be invoked once (per worker process)
    fake_output = np.random.random()

    def predict(inputs):
        return [fake_output for i in inputs]

    return predict

In [ ]:
identity = batch_infer_udf(predict_batch_fn, return_type=DoubleType())

In [ ]:
%%time
# results should be the same
df1 = df.withColumn("preds", identity(struct("a"))).toPandas()

In [ ]:
%%time
df2 = df.withColumn("preds", identity(struct("a"))).toPandas()

In [ ]:
%%time
df2 = df.withColumn("preds", identity(struct("a"))).toPandas()

In [ ]:
%%time
df2 = df.withColumn("preds", identity(struct("a"))).toPandas()

In [ ]:
%%time
df2 = df.withColumn("preds", identity(struct("a"))).toPandas()

## Test executors

In [ ]:
import numpy as np
import pandas as pd
import threading
import time

from pyspark.ml.functions import batch_infer_udf
from pyspark.sql.functions import struct, pandas_udf
from pyspark.sql.types import *
from typing import Iterator

In [ ]:
data = np.arange(0, 1000, dtype=np.float64).reshape(-1, 4)

# 4 scalar columns
pdf = pd.DataFrame(data, columns=["a", "b", "c", "d"])
df = spark.createDataFrame(pdf)

In [ ]:
def myfn(it):
    import tensorflow as tf
    print(">>>> {}".format(tf.__version__))
    print(tf.config.list_physical_devices('GPU'))
    tf.debugging.set_log_device_placement(True)

    # Create some tensors
    a = tf.constant([[1.0, 2.0, 3.0], [4.0, 5.0, 6.0]])
    b = tf.constant([[1.0, 2.0], [3.0, 4.0], [5.0, 6.0]])
    c = tf.matmul(a, b)
    print(c)

In [ ]:
df.foreachPartition(myfn)

In [ ]:
@pandas_udf(returnType=FloatType())
def myudf(it: Iterator[pd.DataFrame]) -> Iterator[pd.DataFrame]:
    for part in it:
        import tensorflow as tf
        print(tf.__version__)
        yield part

In [ ]:
foo = df.withColumn("preds", struct("a"))

In [ ]:
foo.show()

In [ ]:
print("==== df1:\n{}".format(df1))
print("==== df2:\n{}".format(df2))

In [ ]:
from pyspark.sql.functions import spark_partition_id
df.withColumn("partition_id", spark_partition_id()).withColumn("preds", identity(struct("a"))).groupBy("partition_id", "preds").count().show()

## Test zip

In [4]:
import pandas as pd

In [36]:
foo = pd.Series([0,1,2,3,4,5,6,7,8])
bar = pd.Series(['a','b','c','d','e','f','g','h','i'])

In [37]:
test = (foo, bar)
test

(0    0
 1    1
 2    2
 3    3
 4    4
 5    5
 6    6
 7    7
 8    8
 dtype: int64,
 0    a
 1    b
 2    c
 3    d
 4    e
 5    f
 6    g
 7    h
 8    i
 dtype: object)

In [31]:
def batch(iterable, batch_size):
    acc = []
    for i, x in enumerate(zip(*iterable)):
        acc += x
        if i % batch_size == 0:
            yield acc
            acc = []
    yield acc

In [38]:
import itertools
import more_itertools

def batch(iterable, batch_size):
    for x in more_itertools.chunked(zip(*iterable), batch_size):
        yield x

In [39]:
for x in batch(test, 2):
    print(x)
    print("====")

[(0, 'a'), (1, 'b')]
====
[(2, 'c'), (3, 'd')]
====
[(4, 'e'), (5, 'f')]
====
[(6, 'g'), (7, 'h')]
====
[(8, 'i')]
====

In [50]:
pdf = pd.concat(test, axis=1)

In [51]:
pdf

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e
5  5  f
6  6  g
7  7  h
8  8  i

ERROR:root:Exception while sending command.
Traceback (most recent call last):
  File "/home/leey/devpub/leewyang/spark/python/lib/py4j-0.10.9.7-src.zip/py4j/clientserver.py", line 516, in send_command
    raise Py4JNetworkError("Answer from Java side is empty")
py4j.protocol.Py4JNetworkError: Answer from Java side is empty

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/leey/devpub/leewyang/spark/python/lib/py4j-0.10.9.7-src.zip/py4j/java_gateway.py", line 1038, in send_command
    response = connection.send_command(command)
  File "/home/leey/devpub/leewyang/spark/python/lib/py4j-0.10.9.7-src.zip/py4j/clientserver.py", line 539, in send_command
    raise Py4JNetworkError(
py4j.protocol.Py4JNetworkError: Error while sending or receiving
/home/leey/devpub/leewyang/spark/python/pyspark/context.py:642: RuntimeWarning: Unable to cleanly shutdown Spark JVM process. It is possible that the process has crashed, been killed or may also be in a zombie state.
  warnings.warn(